<template>

  <div>
    <v-app-bar dark color="primary"
    class="mx-auto">
    
            <v-app-bar-nav-icon>
                <v-icon color="red" size="70"
               @click="this.$router.push({name: '/views/About.vue'})"
                 >mdi-home-circle</v-icon>
                
            </v-app-bar-nav-icon>
            <v-spacer></v-spacer>
<v-toolbar-title class="text-md-center" 
>Coextrix</v-toolbar-title>
        </v-app-bar><br />
        <v-toolbar >
          <v-toolbar dark color="primary">
    <v-toolbar-side-icon ></v-toolbar-side-icon>
    <v-toolbar-title  

     >Login</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon >
      <v-icon >mdi-apple</v-icon>
    </v-btn>
    <v-btn icon >
      <v-icon >mdi-home-circle</v-icon>
    </v-btn>
  </v-toolbar>  </v-toolbar>
                        <br />
                       <v-container>
                         <v-card dark color="primary" elevation="24"  
         
          outlined
          tile
                
    class="mx-auto"
    max-width="600"
  ><br /><br />
                        <v-form  @submit.prevent="submitForm"
                        elevation="54" 
                        
                        class="mx-auto">
                            <v-text-field
                            class=mx-4
                            prepend-inner-icon=mdi-account-box
                            dense 
            single-line 
                                label="Name"
                                color="white"
                                filled
                                rounded
                                required
                                v-model.trim="name"   
                                @input="$v.name.$touch()"
                                @blur="$v.name.$touch()"
                                :error-messages="manfield"
                           ></v-text-field>
 <v-text-field
 class=mx-4
                            prepend-inner-icon=mdi-account-box
                            dense 
            single-line 
                                label="email"
                                color="white"
                                filled
                                rounded
                                required
                                v-model.trim="email"   
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                :error-messages="mailerror"
                           ></v-text-field>
                            <v-text-field
                            class=mx-4
                            dense 
            single-line 
                                label="password"
                                color="white"
                                prepend-inner-icon=mdi-file-lock
                                filled
                                rounded
                                required
                                v-model.trim="password"   
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                               
                                
                                :type="showPassword ? 'text' : 'password'"
                                @click:append="showPassword = !showPassword"
                                :error-messages="passwordErrors"

                           ></v-text-field>


                            <v-text-field
                            class=mx-4
                            prepend-inner-icon=mdi-account-box
                            dense 
            single-line 
                                label="Gender"
                                color="white"
                                filled
                                rounded
                                required
                                v-model.trim="gender"   
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                               :error-messages="manfield" 
                           ></v-text-field>
      

      <v-checkbox
             class=mx-4
              v-model="acceptTerms"
              :error-messages="passerrors"
              :success="valid"
              value="1"
              label="Agree Terms?"
              type="checkbox"
              required
            ></v-checkbox>

<v-card-actions>
          <v-btn color="primary" class="mx-auto"
          filled
                                rounded
                                required
          @click=submitForm

          >Login</v-btn
        >    </v-card-actions>               
    </v-form>
      
    </v-card>
     </v-container>
    
  </div>

</template>

<script>
import {
  required,
  minLength,
  alpha,
  email
} from "vuelidate/lib/validators";
export default {
  data: () => ({
    name: "",
    email: "",
    password: "",
    gender: "",
    genders: ["", "Male", "Female"],
    acceptTerms: ""
  }),
  computed: {
    manfield() {
            const errors = [];
            if (!this.$v.name.$dirty) return errors;
            !this.$v.name.required && errors.push('Mandatory field');
            return errors; },
            passerror() {
            const errors = [];
            if (!this.$v.password.$dirty) return errors;
            !this.$v.password.minLength && errors.push('Minimum Of 8 Characters Required');
            !this.$v.password.required && errors.push('Password Required');
            return errors;
        },
          mailerror() {
            const errors = [];
            if (!this.$v.email.$dirty) return errors;
            !this.$v.email.email && errors.push('The Mail Entered Above Is Not A Valid One');
            !this.$v.email.required && errors.push('An EMail is required ');
            return errors;
        },
        
 
  }, 
  validations: {
    name: {
      required,
      alpha
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(8)
    },
    gender: {
      required
    },
    acceptTerms: {
      required
    }
    
  },
  methods: {
    submitForm() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        console.log(
          `Name: ${this.name}, Email: ${this.email}, Password: ${this.password}, Gender: ${this.gender}, Accept Terms: ${this.acceptTerms}`
        );
      }
    }
  }
};
</script>

<style scoped>
</style>